

<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eligendi nam facere illo praesentium vero cum dolorum ullam harum tenetur? Libero est quam sed rem ut sunt eaque ipsa corrupti necessitatibus! Fugit magni quibusdam voluptatem suscipit ipsam molestiae excepturi quos deleniti, sed dolor temporibus iure fuga enim ex quaerat repudiandae.</p>
    </div>    
</div>