

<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae delectus vero incidunt voluptates pariatur! A, numquam quam beatae, sapiente architecto nam expedita perferendis dolorem quis reiciendis, laborum fugit quaerat est.</p>
    <a href="http://google.com" class="btn btn-primary btn-large">Jorge</a>
</div>